
.level-0{
    padding-left:0;
}

.level-1{
    padding-left:1em;
}

.level-2{
    padding-left:2em;
}

.level-3{
    padding-left:3em;
}

.book-detail{
    color:#333;
    padding:24px;
    
    h1{
        font-size:2em;

    }
    h2{
        font-size:1.2em;
    }
}