<div class="app-nav-wrapper r">
  <div class="logo-wrapper r">纸张界面</div>
  <div class="f1"></div>
  <div class="app-nav r" (click)="importLibrary()">
    <i class="fa fa-cloud-download" aria-hidden="true"></i>&nbsp;
    导入
  </div>
  <div class="app-nav r" (click)="getBooks()">
    账号关联
  </div>
  <div class="app-nav r">
    设置
  </div>
</div>

<div class="app-side-panel c">
    <div class="app-side-panel-item">
      计算机与互联网
    </div>
    <div class="app-side-panel-item">
      科幻
    </div>
    <div class="app-side-panel-item">
      金融
    </div>
    <div class="app-side-panel-item">
      商业
    </div>
</div>

<div class="app-main">
  <div class="app-main-body r wr">
    <div class="book c" *ngFor="let book of books">
      <img [src]="book.coverImg"/>
      <span>{{book.title}}</span>
    </div>
  </div>
</div>