/* You can add global styles to this file, and also import other style files */

$font-stack: 'Roboto', "Helvetica Neue", sans-serif;

////////////////////////////////////////////////////////////////////////
/* Frequently used css properties */
.r{display:flex;flex-direction:row;}.c{display:flex;flex-direction:column;}.wr{flex-wrap:wrap;}
.f1{display:flex;flex:1;}.f162{display:flex;flex:1.62;}.f2{display:flex;flex:2;}.s0{flex-shrink:0;}
.aie{align-items:flex-end;}
.ac{text-align:center;}.al{text-align:left;}.ar{text-align:right;}
.w100{width:100%;}.h100{height:100%;}
.ofys{overflow-y:scroll;}
.fe{justify-content:flex-end;}
////////////////////////////////////////////////////////////////////////

html{
    background-color:#eeeeea;
    font-family: $font-stack;
    font-size:14px;
}

body{padding:0;margin:0;}

.app-nav-wrapper{
    position:fixed;
    top:0;left:0;
    width:100%;height: 3em;
    background-color:#fff;
    align-items:center;
    z-index:10;
    box-shadow:0 0 1px #999;
    
    a:link {color: inherit;text-decoration:none;}
    a:visited {color: inherit;text-decoration:none;}
    a:hover {color: inherit;text-decoration:none;}
    a:active {color: inherit;text-decoration:none;}

    .app-nav{
        height:100%;
        padding:0 24px;
        letter-spacing:1px;
        align-items:center;
        cursor: pointer;

        &:hover{
            background-color:#eee;
        }
    }

    .logo-wrapper{
        @extend .app-nav;
    }
}

.app-side-panel{
    position: fixed;
    top:0;
    left:0;
    padding-top:3em;
    width:20em;
    height: 100%;
    background-color:#fff;
    z-index:2;

    .app-side-panel-item{
        padding:16px 24px;
        color:#555;
        cursor:pointer;

        &:hover{
            background-color:#eee;
        }
    }
}

.app-main{
    position: fixed;
    top:0;left:0;
    width:100%;height:100%;
    overflow-y:scroll;

    .app-main-body{
        padding:3em 0 0 20em;
    }
}

.book{
    margin:0.5em;
    width:7em;
    padding:0.2em;
    background-color:#fff;
    border-radius:1px;

    img{width:7em;height:auto;}
    span{font-size:11px;color:#999;}
}

  
  /* Base Button Style */
  .btn {
    position: relative;
    display: block;
    width: 250px;
    margin: 24px auto;
    padding: 10px;

    cursor:pointer;
    
    background-color: #fff;
    border: 1px solid #ccc;
  
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    transform-style: flat;
    transition: all 250ms ease-out;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
        transition: all 250ms ease-out;
    }
  }
  
  /* Paper effect – slightly raised off background */
  .paper {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    border-color: #dedede;
  }
  
  /* Raised effect – pushes up on hover */
  .paper-raise {
    &:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover {
      border: 1px solid #fff;
      
      &:before {
              box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
      }
    }
  }
  