
<div class="app-side-panel c ofys">
  <div class="app-side-panel-tabs r">
    <div class="app-side-panel-tab f1 c">
      分类
    </div>
    <div class="app-side-panel-tab f1 c">
      标签
    </div>
    <div class="app-side-panel-tab f1 c">
      作者
    </div>
    <div class="app-side-panel-tab f162 c">
      出版社
    </div>
  </div>
  <div class="app-side-panel-item" *ngFor="let provider of providers">
    {{provider.name}}
  </div>
</div>

<div class="app-main">
  <div class="app-main-body c">
    <div class="book c" *ngFor="let book of books | filter : 'bookId' : '4204407'">
      <span><a routerLink="/b/{{book.bookId}}">{{book.title}}</a></span>
    </div>
  </div>
</div>