
<div class="app-side-panel c">
  <div class="app-side-panel-tabs r">
    <div class="app-side-panel-tab f1 c">
      分类
    </div>
    <div class="app-side-panel-tab f1 c">
      标签
    </div>
    <div class="app-side-panel-tab f1 c">
      作者
    </div>
    <div class="app-side-panel-tab f1 c">
      出版社
    </div>
  </div>
  <div class="app-side-panel-item">
    计算机与互联网
  </div>
  <div class="app-side-panel-item">
    科幻
  </div>
  <div class="app-side-panel-item">
    金融
  </div>
  <div class="app-side-panel-item">
    商业
  </div>
</div>

<div class="app-main">
  <div class="app-main-body c">
    <div class="book c" *ngFor="let book of books">
      <span><a routerLink="/b/{{book.bookId}}">{{book.title}}</a></span>
    </div>
  </div>
</div>